body, html, .page-container{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #CCCCCC;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    background-image: url('resized.jpg');
    font-family: Calibri;
}

.banner{
    width: 100%;
    height: 25%;
    box-shadow: 0 0 40px 0 black;

}

.head{
    text-align: center;
    font-family: 'Courier'; 
    font-style: italic;
    font-size: 55px;
    color:#CDCFC9;
    width: 50%;
    align-self: center;
    margin-bottom: 0;
    position: absolute;
    margin: auto;
    top: 40%;
}

.categories{
   
    margin: 0 auto;
    bottom: 40px;
    display: flex;
 
    align-items: stretch;
    position: absolute;
}

.category{
    position: relative;
    width:100%;
    text-align: center;

}

.image{
    width:100%;
    height:300px;
    transition: transform 0.3s;
    box-shadow: 0 0 30px black;
}

.image:hover{
    transform:scale(0.80);
}

.category-text{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 105;
    color: #CCCCCC;
    font-family: "ROG Fonts v1.6", serif;
    font-size: 350%;
    font-weight: bold;
    text-shadow: 0 0 5px black;
}

@keyframes appear {
    from {color:#CCCCCC}
    to {color: #121212}

}

.quote{
    animation-duration: 5s;
    animation-name: appear;
}