body, html, .page-container{
    width: 100%;
    height: 100%;
    margin: 0;
    background: #FEFDE1;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.banner{
    width: 100%;
    height: 40%;
}

.head{
    text-align: center;
    font-family: "Kristen ITC", cursive;
    font-size: 45px;
    color: #2A2926;
    width: 50%;
    align-self: center;
    margin-bottom: 0;
}

.categories{
    width:60%;
    height:80%;
    margin: 5% 20% 5% 20%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    position: relative;
}

.category{
    position: relative;
    width:50%;
    text-align: center;
}

.image{
    width:100%;
    height:100%;
    transition: transform 0.3s;
}

.image:hover{
    transform:scale(0.80);
}

.category-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 105;
    color: #FEFDE1;
    font-family: "Kristen ITC", serif;
    font-size: 60px;
    font-weight: bold;
}