body{
    margin:0;
    font-family:'Ubuntu';

}

.title{
    text-align: center;
    margin-top: 80px;
}
h2{
    font-weight: normal;
}

.person{
    width: 800px;
    margin:50px auto;
}
.list-person{
    list-style: none;
    display: flex;
    flex-direction: row;
   flex-wrap: wrap;
    text-align: center;
    font-size: 30px;
    padding-inline-start: 0px;

}
.list-img:not(:last-child) {

    margin-right: 20px;
}
.photo{
    width: 250px;
    height: 250px;
}
.item-list{
    padding-inline-start: 0;
    padding-bottom: 15px;
    list-style: none; 
}

.quote{
    animation-duration: 5s;
    animation-name: appear;
}
@keyframes appear {
    from {color:#CCCCCC}
    to {color: #121212}

}

.content-deliver{
    display: flex;
    width: 920px;
    margin:70px auto;
}
.left-container{
  
    margin-right:  25px;
    font-size: 18px;
     
}
.vinyl{
    width: 450px;
    height: 300px;
}
h3{
    text-align: center;
}