<<<<<<< HEAD


@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
    font-family: Ubuntu;
}
=======
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{

    font-family: Ubuntu;
}

.justified{
    text-align: justify;

}
>>>>>>> 2edd4c541cc019c6d6eacdee9221e6f60cbec1f3
