.form{

	margin: auto;
	color: white;
}
body{
	display: flex;
	background-image: url("/stylesheets/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1700px;
}
.icon{
	font-size: 50px;
	margin-left:100px;

}
#form-group{
	margin: 15px;
	padding: 15px;
}
.form-control{
	padding: 15px;
	background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.btn{
	margin-left:100px;
	padding: 15px;
	/*padding:0 50px;*/
	border-radius: 5px;
	background: transparent;
    border: 2px solid white;
    color: white;
}
.btn:hover {
  background-color: white;
  color: black;
}
.fa-shopping-cart{
    font-size: 35px;
    position: relative;
  } 