
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    
    display: flex;
    height: 100%;
    width: 100%;
    /* background-image: url('background.jpg'); */
  font-family: Ubuntu;
  }
.attributes {
    list-style: none;
    padding-left: 0;
  
  }
  .type{
    padding: 20px 50px;
    margin: auto auto auto 20%;
    font-size: 20px;
  }
 
  .name{
      display: flex;
      margin-bottom: 10px;
      width: 300px;
      box-shadow: 1px 1px 1px 1px #f0efef;
      background-color: white;
      cursor: pointer;
  }
  .rock {
    border-color: #260800;
    color: black;
  }
  
  .rock:hover {
    background-color: #260800;
    color: white;
  }
  .pop {
    border-color: #8D2B6E;
    color: black;
  }
  
  .pop:hover {
    background-color: #8D2B6E;
    color: white;
  }
  .jazz {
    border-color: #307A9D;
    color: black;
  }
  
  .jazz:hover {
    background-color: #307A9D;
    color: white;
  }
  .hip-hop{
    border-color: #676767;
    color: black;
  }
  
  .hip-hop:hover {
    background-color: #676767;
    color: white;
  }




  .categories:first-child{
      margin-top: 10px;
  }
  .title {
    
    padding: 20px 0 0 0;
    color: #231f1f;
    font-size: 35px;
  }
  .container-left{
      width: 300px;
      position: fixed;
      height: 100%;
      margin-left: 30px;
      
      
  }
  .section-title:first-child{
   
    margin-top: 20px;
  }
  .section-title:not(:first-child){
   
    margin-top: 50px;
  }
.icon{
      width: 330px;
      height: 330px;
  }
  .container-right {
    display: flex;
    flex-wrap: wrap;
 
    max-width: 1500px;
    margin-right: 20px;
    margin-left: 350px; 
    flex-direction: row;
    
   
  }

  .container{
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top:70px;
      
      
  }
  .vinyl{
      margin-left: 40px;
      box-shadow: 1px 1px 1px 1px #f0efef;
      margin-top: 20px;
      transition:  all 3s;
      background-color: white;
      height: 550px;
     
  }

  .song-name p{
      padding: 5px 0 0 10px;
      margin: 0;
  }
  .price{
      padding: 10px 0 0 10px;
      color: #BF3A38;
      font-size: 20px;
  }
  .button{
      float: right;
      margin: 0 20px 5px 0;
      

  }
  .button-color{
      background-color: #5EC13D;
      border-radius: 3px;
      border: 0px;
      box-shadow: 1px 1px 1px 1px #dddddd;
      padding: 15px;
      color: white;
      transition: all 0.7s;
      cursor: pointer;
      font-size: 15px;
  }
  .artist{
      font-size: 30px;
  }
  .row{
    font-size: 20px;
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\003e';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  .price_div{
    
    padding: 15px 5px;
    box-shadow: 1px 1px 1px 1px #f0efef;
    margin : 5px 0;
    background-color: white;
    
  }
  
  .drop_price{
    padding:  0;
    margin : auto auto auto 0;
    font-size: 20px;
    
  }
  .price_between{
    padding: 10px 5px;
    font-size: 15px;
  }
  .price_list{
    
    display: flex;
    flex-direction: column;
  }
 #chk{
    margin: 0  10px ;
    cursor: pointer;
    
  }
  .fas{
    font-size: 35px;
    position: relative;
  }
  .prod-number{
    position: absolute;
    color: #BF3A38;
   top : 0.0001px;
    
    
    z-index: auto;
    right: 25px;
    font-family: Ubuntu;

  }
  .minmax{
    width: 60px;
    margin: 5px;
    height: 40px;
    font-size: 20px;
    padding: 0 10px;
  }
  .search{
    height: 45px;
    font-size: 20px;
    margin-left: 10px;
  }
  
  